<% provide(:title, "About")%>
<h1>About</h1>
<p>
the
<a href='https://www.railstutorial.org/'>Ruby on Rails Tutorial</a>,
Part of the file <a href='https://www.learnenough.com/'>Learn Enough</a>,
family of tutorials ,is a 
<a href="https://www.railstutorial.org/book">Book </a>
and <a href="https://screencasts.railstutorial.org/">screencasts serises</a>
to teach web development with
<a href="https://rubyonrails.org/">Ruby on Rails </a>
This is the sample of for the tutorial
</p>
    