<% provide(:title, "Help")%>

<h1>Help</h1>
<p>
Get the help on ruby on rails Tutorial at the 
<a href='https://www.railstutorial.org/help'>Ruby Tutorial Help Page </a>
To get help on this sample app, see the
<a href='https://www.railstutorial.org/book'>Ruby on Rails Tutorial</a>

</p>
